.side-bar-wrapper{
    position: fixed;
    top: 15rem;
    padding:1rem;border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 6px;
    max-width: 15rem;
    &-user{
        font-weight: bold;
        h3{font-size: 1rem;}
    }
    &-score{
        &-list{
            padding: 0.5rem;
            overflow-y: auto;
            max-height: 10rem;
        }
    }
    &-date{
        font-weight: bold;
        margin-bottom: 1rem;;
    }
    @media (max-width:1360px) {
        top: auto;
        bottom: 0;
        max-width: 100%;
        width:100%;
    }
}