/* You can add global styles to this file, and also import other style files */
body,html{height: 100%;width: 100%;overflow-x: hidden;margin: 0;padding: 0;font-size:20px;font-family: 'Roboto', sans-serif;}
.container{max-width: 70vw;margin: auto;
    @media (max-width:1360px){
        max-width: 95vw;
    }
}
.site-btn{ 
    background-color: #665e5e;
    padding: 0.3rem;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
}
